/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
!/bin/
/composer.phar

*~
/.settings/
.buildpath
.DS_Store
.project
/web/assetic/
/web/bundles/
/web/cache/
/web/css/
/web/js/
/web/themes/
!/web/uploads/_site/
/composer.lock
/app/config/parameters.yml
