{% extends "::base.html.twig" %}

{% block title %}{{ 'Change password'|trans({}, 'ARIPDUserBundle') }}{% endblock title %}

{% block container %}
<div id="mainBody">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="{{ path('aripd_default_index') }}">{{ 'Home'|trans() }}</a> <span class="divider">/</span></li>
					<li class="active">{{ 'Change password'|trans({}, 'ARIPDUserBundle') }}</li>
				</ul>
				<div class="well well-large">
					{% include "::ARIPDUserBundle/ChangePassword/changePassword_content.html.twig" %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}